.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.resolved
2022/Sources/2022/Inputs/Day9Input.swift
2022/Sources/2022/Inputs/Day8Input.swift
2022/Sources/2022/Inputs/Day7Input.swift
2022/Sources/2022/Inputs/Day6Input.swift
2022/Sources/2022/Inputs/Day5Input.swift
2022/Sources/2022/Inputs/Day4Input.swift
2022/Sources/2022/Inputs/Day3Input.swift
2022/Sources/2022/Inputs/Day2Input.swift
2022/Sources/2022/Inputs/Day1Input.swift
2022/Sources/2022/Inputs/Day11Input.swift
2022/Sources/2022/Inputs/Day10Input.swift
2024/Sources/2024/Resources/Inputs/*
